<!doctype html>
<html>
    <head>
        <title>Anton Portfolio</title>
        <meta name="description" content="Anton's custom projects portfolio">
        <meta name="keywords" content="anton portfolio project app">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style.css">
    </head>

    <body>
        <header>
            <h1>Portfolio</h1>
        </header>
        
        <div>
            {% block content %}
                <p> Content not yet implemented. </p>
            {% endblock content %}
        </div>

    </body>
</html>